# Environment variables
.env

# Large archives
*.zip
*.rar
*.7z
*.tar
*.gz

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

# PHP specific
vendor/
composer.lock
